.input-design-div .input-placeholder input::placeholder {
  color: #02091c !important;
  line-height: 18px !important;
  /* font-family: 'poppines-bold' !important; */
  font-weight: 600 !important;
  font-size: 12px !important;
}
